<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%d{HH:mm:ss}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${%d{dd-MM-yyyy-HH-mm-ss}}.log</file>
        <encoder>
            <pattern>[%level] %d{HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <conversionRule conversionWord="clr" converterClass="org.slf4j.helpers.MessageFormatter$ThrowableFormatStrategy"/>
    <conversionRule conversionWord="highlight" converterClass="org.slf4j.helpers.MessageFormatter$HighlightingConverter"/>
    <highlight level="info" foreground="BLUE"/>
    <highlight level="warn" foreground="YELLOW"/>
    <highlight level="error" foreground="RED"/>
    <highlight level="debug" foreground="GREY"/>
</configuration>
